@model RelatedKeyword.Models.NaverSearchModel;
<div class="s006">
    <form asp-controller="Home" asp-action="Result">
        <fieldset>
            <legend>What are you looking for?</legend>
            <div class="inner-form">
                <div class="input-field">
                    <button id="searchBtn" class="btn-search" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                    </button>
                    <input name="searchKeyword" type="text" placeholder="검색어를 입력하세요" value="" />
                </div>
            </div>
            @if (Model.HistoryKeywords is not null)
            {
                    <div class="suggestion-wrap">
                    @foreach (var item in Model.HistoryKeywords)
                    {
                            <span>@item</span>
                    }
                    </div> 
            }
        </fieldset>
        @if(Model.KeywordList is not null)
            {
                <table>
                    <tr>
                        <th></th>
                        <th>연관키워드</th>
                        <th>월간검색수 - PC</th>
                        <th>월간검색수 - 모바일</th>
                        <th>총 월간검색수</th>
                    </tr>
                    @foreach(var result in Model.KeywordList.Select((item, index) => new { Item = item , Idx = index}))
                    {
                        <tr>
                            <td>@(result.Idx+1)</td>
                            <td>@result.Item.RelKeyword</td>
                            <td>@result.Item.monthlyPcQcCntInt</td>
                            <td>@result.Item.monthlyMobileQcCntInt</td>
                            <td>@result.Item.monthlyQcCnt</td>
                        </tr>
                    }
                </table>   
            }
    </form>
</div><!-- This templates was made by Colorlib (https://colorlib.com) -->